<app-menu></app-menu>
<div id="component">
    <h1>Max Technical Training Summer 2020:<br>
       .Net Bootcamp Capstone Project</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"><iframe src="https://drive.google.com/file/d/1-KQL73I4gUULGoTPMIGY4zxUCV-B9iDY/preview"width="270" height="480"></iframe>
    </div>
    <div class="col-sm-4 text-wrap"><p>Hi!<br>
    I'm Jada, an aspiring Developer looking for my first job opportunity. <br>
    I'm currently a Teaching Assistant for the Spring 2021 .Net Bootcamp <br><br>
       -thanks for checking out my capstone project!</p>
    </div>
  </div>
</div>
    
</div>