<app-menu></app-menu>
<div id="component">
    <span class="h3">{{pageTitle}}</span>
    <span> | </span>
    <a routerLink="/request/list">Back to list</a>
    <table *ngIf="request" class="table table-sm">
        <tr>
            <th>Id</th>
            <th>Requesting User</th>
            <th>Status</th>
            <th>Description</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{request.id}}</td>
            <td><a routerLink="/user/detail/{{request.user.id}}">{{request.user.firstName}}
                    {{request.user.lastName}}</a></td>
            <td>{{request.status}}</td>
            <td>{{request.description}}</td>
            <td>{{request.total | currency}}</td>
        </tr>
    </table>
    <p></p>
    <table *ngIf="request" class="table table-sm">
        <tr>
            <th>RequestlineId</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr *ngFor="let rl of request.requestLines">
            <td>{{rl.id}}</td>
            <td>{{rl.product.name}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{rl.product.price * rl.quantity | currency}}</td>
        </tr>
        <br>
        <br>
        <!-- <div>
            <button (click)="approve(request.id)" type="button" class="btn btn-success me-2">Approve</button>
            <div class="btn-group-vertical co">
                <button (click)="reject(request.id)" type="button" class="btn btn-warning">Reject</button>
                <span *ngIf="showVerify">
                    <textarea [(ngModel)]="request.rejectionReason" class="form-control" rows="2"></textarea>
                    <button (click)="verify(request.id)" type="button" class="btn btn-danger">Verify</button>
                </span>
            </div>
        </div> -->

    </table>
    <div *ngIf="request" class="btn-group" role="group">
        <button (click)="approve(request.id)" type="button" class="btn btn-success me-2">Approve</button>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button (click)="reject(request.id)" id="reject" type="button" class="btn btn-warning" data-bs-toggle="dropdown"
                aria-expanded="false">
                Reject
            </button>
            <ul class="dropdown-menu" aria-labelledby="reject">
                <span *ngIf="showVerify" class="dropdown-item">
                    <textarea [(ngModel)]="request.rejectionReason" class="form-control" rows="4" required are
                        placeholder="Reason for rejection"></textarea>
                    <button (click)="verify(request.id)" type="button" class="btn btn-danger">Verify</button>
                </span>
            </ul>
        </div>
    </div>
</div>