/* nav {
    background-color:#adb5bd;
} */

li {
    display: inline-block;
    padding: 5px;
}

ul{
    padding: 0%;
    background-color: #FFFFFF;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #CED4DA;
    background-color: #6C757E;
    cursor: default;
}