<app-menu></app-menu>
<div id="component">
    <span class="h4">{{pageTitle}} {{requestId}}</span>
    <span> | </span>
    <a routerLink='/request/list'>Back to list</a>
    <table *ngIf="requestline" class="table">
        <tr>
            <th>Product</th>
            <td [(ngModel)]="requestline.productId">
                <select class="form-select" aria-placeholder="Available Products" role="grid">
                    <optgroup id="vend" *ngFor="let p of products" label="{{p.vendor.name}}" role="group" aria-owns="prod">
                            <option id="prod" *ngIf="p.vendorId" value="{{p.id}}" role="gridcell">{{p.name}}</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td><input [(ngModel)]="requestline.quantity" type="number"></td>
        </tr>
    </table>

                <button (click)="save()" class="btn btn-primary">Save</button>
 
</div>
