<span class="position-absolute top-80 start-50 translate-middle">Bootcamp Capstone - PRS</span>
<span class="col-sm-2 position-absolute top-80 start-50 translate-middle">Login!</span>
<form class="col-sm-2 position-absolute top-50 start-50 translate-middle">
    <span>
        <label for="username" class="form-label">Username</label>
        <input [(ngModel)]="username" name="username" autocomplete="username" type="text" class="form-control"
        id="username" placeholder="ProgramingSuperStar">
    </span>
    <br>
    <span>
        
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="password" name="password" autocomplete="current-password" type="password"
        class="form-control" id="password" placeholder="Password">
    </span>
    <label class="h4">{{msg}}</label>
    <br>
    <button (click)="login()" type="submit" class="btn btn-primary">Sign in</button>
    <br>
    <br>
    <br>
    <div class="dropdown-divider"></div>
    <small><a class="col-sm-2" href="user-login-new.component.html">New User? Sign up</a></small>
</form>
<!-- <a class="dropdown-item" href="#">Forgot password?</a> -->