<form>
    
    <table>
        <label class="h4">{{msg}}</label>
        <tr>
            <th>Username:</th>
            <td><input [(ngModel)]="username" name="username" autocomplete="username" type="text"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input [(ngModel)]="password" name="password" autocomplete="current-password" type="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="login()" class="btn btn-primary">Login</button>
            </td>
        </tr>
    </table>
    
</form>