<app-menu></app-menu>
<div id="component">
    <span class="h3">{{pageTitle}}</span>
    <span> | </span>
    <a routerLink="/request/list">Back to list</a>
    <table *ngIf="requestline" class="table table-sm">
        <tr>
            <th>Id</th>
            <td><input [(ngModel)]="requestline.id" type="text" disabled></td>
        </tr>
        <tr>
            <th>Request</th>
            <td><input [(ngModel)]="requestline.requestId" type="text" disabled></td>
        </tr>
        <!-- <tr>
            <th>Product</th>
            <td><input [(ngModel)]="requestline.productId" type="text"></td>
        </tr> -->
        <tr>
            <th>Product</th>
            <td>
                <select [(ngModel)]="requestline.productId">
                    <option *ngFor="let p of products" value="{{p.id}}">{{p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td><input [(ngModel)]="requestline.quantity" type="number"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="save()" class="btn btn-primary">Save</button>
            </td>
        </tr>
    </table>
</div>
